@charset "utf-8";

html,body{font-family: PingFangSC-Regular; height: 100%;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #ccc;
  font-size: 0.24rem;
}
/* dialog组件 */
.dialog-mask {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}
.dialogCon {
    position: fixed;
    z-index: 5000;
    width: 80%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #F9F6FA;
    text-align: center;
    border-radius: 0.2rem;
    overflow: hidden;
}
.btn_disabled{
	background: #EBF9EC;
	line-height: 0.9rem;
    display: block;
    box-sizing: border-box;
    font-size: 0.36rem;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    border-radius:0.45rem;
    overflow: hidden;
}
.weui-btn{border-radius: 0.45rem;}
.dialogTitle{height: 1.3rem; line-height: 1.3rem; text-align: center; font-size: 0.32rem; color: #333;}
.dialogTitle2{height: 1rem; line-height: 1rem; text-align: center;
 font-size: 0.32rem; color: #333;border-bottom: 1px solid #ddd;}
.dialogbd{margin-bottom: 0.5rem;}
.dialogbdLogo{width: 0.76rem; height: 0.76rem; margin: 0.38rem auto 0;}
.dialogbdLogo img{width:100%;}
.permissionTitle{width: 5rem; height: 0.96rem; line-height: 0.96rem; margin: 0 auto;
 border-bottom: 1px solid #eee; font-size: 0.26rem;}
.permissionDes{height: 1rem; color:#ccc; line-height: 1rem; font-size: 0.2rem;}
.inputNick{display: block; width: 5.40rem;  height:0.92rem;line-height: 0.92rem; background: #F4F5F5; 
color: #333; padding-left: 0.24rem; font-size: 0.28rem; margin: 0 auto; outline: none;}

.sigma-content{
	margin:0.6rem 0;
	text-align: center;
	background-color: #fff;
}
.sigma-middle-line:before{
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: #ccc;/*颜色需与主题大背景色一致*/ 
    position: relative;
    top: 0.24rem;/*调节线高*/
    left: 0;
}
.sigma-line-text{
	color: #ccc;
    display: inline-block;
    background: #fff;
    padding: 0 0.2rem 0 0.2rem;
    position: relative;
    font-size: 0.24rem;  
}
.weui-msg__title{color: #333; font-size: 0.32rem;}
.countdown{color: #56B82B; font-size: 0.36rem;}
.countdown2{color: #56B82B; font-size: 0.24rem; position: absolute; top: 0; right: 0;}
.weui-btn-area{width:3.8rem; margin: 0.5rem auto 0;}
.mainHeader{height: 0.9rem;font-size: 0.36rem; color: #000000; line-height: 0.9rem; text-align: center;
 border-bottom: 1px solid rgba(204,204,204,0.6);background: #fff; position: relative;}
 .leftArrow{width: 0.18rem;height: 0.32rem; background: url(../images/leftArrow.png) no-repeat; position: absolute;
 background-size: cover; top: 0.28rem; left: 0.38rem;}
.regNow{color: #56B82B; font-size: 0.26rem;position:absolute; right:0.2rem;}
/* personInfo */
.mainCon{}
.avatar{height: 1.52rem; background: #fff;line-height: 1.52rem; position: relative; margin-top: 0.4rem;}
.personcavatar{background: linear-gradient(to right,#56B82B,#3BA20D); height: 2.3rem; line-height: 2.3rem;
 position: relative; padding-left: 2.12rem; color: #fff; font-size: 0.32rem;}
.personinfoTitle{margin-left: 0.4rem; color: #3C3C3C; font-size: 0.32rem;}
.avatarpic{width: 1.2rem; height: 1.2rem;  position: absolute;top: 0.18rem; right: 0.9rem;}
.personcavatarpic{width: 1.2rem; height: 1.2rem;  position: absolute;top: 0.5rem; left: 0.6rem;}
.rightArrow{width: 0.16rem;height: 0.28rem; background: url(../images/rightArrow.png) no-repeat; 
 background-size: cover; position: absolute;top: 0.7rem; right: 0.4rem;}
 .rightArrowrightArrow{width: 0.16rem;height: 0.28rem; background: url(../images/rightArrowrightArrow.png) no-repeat; 
 background-size: cover; position: absolute;top: 0.96rem; right: 0.4rem;}
 
 .nickname{height: 0.86rem; background: #fff; margin-top: 0.2rem;line-height: 0.86rem; position: relative;
 border-bottom: 1px solid #e6e6e6;}
 .personinfoModify{color: #999; font-size: 0.32rem; float: right; margin-right: 0.9rem;}
 .rightArrow2{top: 0.3rem;}
 .personinfoDefault{color: #ccc; font-size: 0.32rem; float: right; margin-right: 0.4rem;}
 .greenBtn{width: 6.7rem;height: 0.9rem;  margin:1.84rem auto 0;}

/* 修改密码 modifyPassword*/
.modifypassword{padding-left: 0.4rem; padding-right: 0.4rem; background: #fff; border-top: 0.4rem solid #F4F5F5;}
.modifypasswordTitle{color: #333; font-size: 0.28rem; height: 1.16rem; line-height: 1.16rem;}
.setpassword{height: 1rem; border-bottom: 1px solid #e8e8e8; line-height: 1rem; position: relative;}
.setpassword input{display: block;height: 1rem;line-height: 1rem; width: 100%;
outline:none; }
/* 个人中心-订单资源 myresource*/
.myresourceTitle{font-size: 0.28rem; color: #ccc; text-align: center; height: 1.14rem; line-height: 1.14rem;}
.myresourceText{ display: inline-block;}
.myresourceText:before{width: 1.14rem; height:0.11rem; content: " ";margin-right: 0.34rem;
display: inline-block;
background: url(../images/line_left.png) no-repeat;
background-size: 100%;}
.myresourceText:after{width: 1.14rem; height:0.11rem; content: " ";margin-left: 0.34rem;
display: inline-block;
background: url(../images/line_right.png) no-repeat;
background-size: 100%;}
.myresourceMain{margin-left: 0.2rem; margin-right: 0.2rem; }
.myresourceMainPart{border: 1px solid #E5E5E5; border-radius: 0.08rem; padding-left: 0.2rem; padding-right: 0.2rem;
background: #fff;margin-bottom: 0.2rem;}
.myresourceMainPartTitle{height: 0.76rem; line-height: 0.74rem; font-size: 0.28rem; position: relative; text-indent: 0.5rem;}
.myresourceMainPartTitleIcon{width: 0.32rem; height: 0.26rem; background-size: cover; position: absolute;
top: 50%;left: 0;-webkit-transform: translate(0, -50%);transform: translate(0, -50%);}
.myresourceMainPartTitleIcon.icon_radio{background: url(../images/icon_radio.png) no-repeat; background-size: cover;}
.myresourceMainPartTitleIcon.icon_pic{background: url(../images/icon_pic.png) no-repeat; background-size: cover;}
.myresourceMainPartTitleIcon.icon_pdf{background: url(../images/icon_pdf.png) no-repeat; background-size: cover;}
.myresourceMainPartTitleIcon.icon_text{background: url(../images/icon_text.png) no-repeat;background-size: cover;}
.myresourceMainPartTitleIcon.icon_video{background: url(../images/icon_video.png) no-repeat;background-size: cover;}
.myresourceMainPartDownTitle{height: .54rem; border-bottom: 1px solid #d8d8d8;font-size: 0.24rem;}
.myresourceMainPartTime{ color: #999; float: left;}
.myresourceMainPartMoney{color: #FF6600; float: right;}
.myresourceMainPartCon{padding-top: 0.16rem; padding-bottom: 0.28rem;}
.myresourceMainPartConDt{width: 1.14rem;height: 1.4rem; float: left;}
.myresourceMainPartConDtPic{width: 1.14rem;height: 1.4rem;}
.myresourceMainPartConDD{font-size: 0.28rem; float: left; margin-left: 0.3rem; width: 5rem; line-height: 0.34rem;}
.myresourceMainPartConDDName{color: #666; height: 1.04rem;}
.myresourceMainPartConDDLink{color: #56B82B;}
.myresourceMainDefault{width: 4.18rem;  margin: 0 auto; }
.myresourceMainDefaultBg{width: 4.18rem; height: 2.81rem;background: url(../images/pic2.png) no-repeat;
background-size: cover;}
.myresourceMainDefaultTxt{font-size: 0.24rem;color: #999; margin-top: 0.2rem; text-align: center;}

.login-logo{width: 1.26rem; height: 1.26rem; margin: 0.9rem auto 0.24rem;}
.login-logopic{width:100%;}
.teachLoginWrap{padding-left: 0.9rem; padding-right: 0.9rem;}
.btn_disabled_wrap{width: 5.7rem; height: 0.9rem; margin: 0.4rem auto;}
.forgetP{font-size: 0.26rem;}
.forgetP .txt1{color: #999; float: left;}
.forgetP .txt2{color: #56B82B; float: right;}
.eye{width: 0.44rem; height: 0.26rem; position: absolute;top: 50%;right: 0;transform: translate(0, -50%);
-webkit-transform: translate(0, -50%);background: url(../images/close.png) no-repeat; 
background-size: contain; z-index: 10; cursor: pointer;}
/* .eye.close{background: url(../images/close.png) no-repeat; background-size: contain;} */
.eye.open{background: url(../images/open.png) no-repeat; background-size: contain;}

.footertype1{padding-left: 1.16rem; padding-right: 1.16rem; position: absolute; bottom: 0; left: 0; /* height: 3.6rem; */
width: 100%; box-sizing: border-box;}
.loginIdentity{padding-left: 1.12rem;}
.loginIdentity span{width: 0.8rem; height: 0.8rem; margin-right: 1.3rem; float: left;}
.loginIdentity span img{width: 100%;}
.note{text-align: center; margin-top: 0.5rem; margin-bottom: 0.5rem; height: 0.3rem;}
.yzm{width: 1.58rem; height: 0.69rem; position: absolute;top: 50%; right: 0;transform: translate(0, -50%);
-webkit-transform: translate(0, -50%);}
.userAgree{text-align: center;font-size: 0.24rem; color: #999;}
.userAgree span{color: #333;}
.phoneMes{color: #333; font-size: 0.24rem;text-align: center;}
.phoneMes2{color: #333; font-size: 0.24rem; height: 1.2rem; line-height: 1.2rem;}
.viewAgreeTitle{font-size: 0.28rem; color: #333;margin-top: 0.36rem;}
.viewAgreeCon{font-size: 0.28rem; color: #333;text-indent: 0.56rem; line-height: 0.44rem; margin-top: 0.2rem;}

/* 资源详情 */
.avatarModel{width: 0.48rem; height: 0.48rem; position: absolute;top:50%; right: 0.2rem;transform: translate(0, -50%);
-webkit-transform: translate(0, -50%);display: block;}
.avatarModel img{width: 100%; vertical-align: top;}
#nav{padding: 0.1rem 0.2rem 0; border-bottom: 1px solid #eee;}
#nav li{height: 0.9rem; line-height: 0.9rem; text-align: center;}
#nav li a{color: #333; font-size: 0.28rem; padding: 0 0.2rem; height: calc(100% - 0.06rem);}
#nav li.active-nav a{display: inline-block;border-bottom: 0.06rem solid #56B82B;}
#page{margin: 0.2rem;}
#page .swiper-slide{height:calc(100vh - 3.3rem);overflow-y: scroll;}
#page .swiper-slide img{height:100%;}
.buyBottom{height: 1rem; line-height: 1rem; background: #F4F5F5; position: relative;}
.buyBottom .money{color:#FF6600; font-size: 0.3rem; margin-left: 0.2rem; font-weight: bold;}
.buyBottom .enjoy{width: 0.36rem; height: 0.36rem;position:absolute; right: 3.54rem;transform: translate(0, -50%);
-webkit-transform: translate(0, -50%); top:50%;}
.buyBottom .enjoy img{width: 100%; vertical-align: top;}
.buyBottom .buyNow{width: 3.22rem; float: right;height: 1rem; line-height: 1rem; font-size: 0.3rem; color:#fff;
background: #56B82B; text-align: center;}
